/* You can add global styles to this file, and also import other style files */

@use '../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';
@use '../../../node_modules/mr-gpx-sync/scss/theme.scss';

html, body { height: 100%; }
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ol-zoom, .ol-rotate {
  width: 100px;
}

.ol-attribution, .ol-overlaycontainer-stopevent {
  display: none;
}

.lang-window {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 100;

  img {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.lang-menu {

  .lang-item {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 700;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 1rem;
    }

    img {
      cursor: pointer;
      border: 1px solid black;
      border-radius: 50%;
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
