/* You can add global styles to this file, and also import other style files */

@use '../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';
@use '../../../node_modules/mr-gpx-sync/scss/theme.scss';

html, body { height: 100%; }
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ol-zoom, .ol-rotate {
  width: 100px;
}
.ol-attribution, .ol-overlaycontainer-stopevent {
  display: none;
}
