
.btn-vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.btn-10x {
  min-width: 20rem;

  fa-icon {
    font-size: 10em;
  }
}

.btn-white {
  color: white;
  border: 1px solid white;
}
